/* /Components/Pages/Login.razor.rz.scp.css */
.login-page[b-914vqkjc0u] {
    display: flex;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.brand-title[b-914vqkjc0u] {
    position: absolute;
    top: 24px;
    left: 24px;
    margin: 0;
}

.login-form[b-914vqkjc0u] {
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-img[b-914vqkjc0u] {
    width: 50%;
    min-height: 100vh;
    background-image: url("./Images/images.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* /Components/Pages/Register.Razor.rz.scp.css */
.register-page[b-49x5asoopb]{
    display:flex;
    width:100%;
    min-height:100vh;
    margin:0;
    padding:0;
}
.brand-title[b-49x5asoopb] {
    position: absolute;
    top: 24px;
    left: 24px;
    margin: 0;
}

.register-form[b-49x5asoopb] {
    display: flex;
    position: relative;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.register-img[b-49x5asoopb]{
    width:50%;
    min-height:100vh;
    background-image: url("./Images/images.png")  ; 
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

/* /Components/Pages/UsersPage.razor.rz.scp.css */
.user-table thead[b-1jwf5guq0w] {
    background-color: black !important;
    color: white !important;
}

.user-table thead th[b-1jwf5guq0w] {
    background-color: black !important;
    color: white !important;
}   
/* /Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-n60ll2nkw3] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-n60ll2nkw3] {
  color: #0077cc;
}

.btn-primary[b-n60ll2nkw3] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-n60ll2nkw3], .nav-pills .show > .nav-link[b-n60ll2nkw3] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-n60ll2nkw3] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-n60ll2nkw3] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-n60ll2nkw3] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-n60ll2nkw3] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-n60ll2nkw3] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
