/* /Components/Pages/Login.razor.rz.scp.css */
.login-page[b-914vqkjc0u] {
    display: flex;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.brand-title[b-914vqkjc0u] {
    position: absolute;
    top: 24px;
    left: 24px;
    margin: 0;
}

.login-form[b-914vqkjc0u] {
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-img[b-914vqkjc0u] {
    width: 50%;
    min-height: 100vh;
    background-image: url("./Images/images.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* /Components/Pages/Register.Razor.rz.scp.css */
.register-page[b-49x5asoopb]{
    display:flex;
    width:100%;
    min-height:100vh;
    margin:0;
    padding:0;
}
.brand-title[b-49x5asoopb] {
    position: absolute;
    top: 24px;
    left: 24px;
    margin: 0;
}

.register-form[b-49x5asoopb] {
    display: flex;
    position: relative;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.register-img[b-49x5asoopb]{
    width:50%;
    min-height:100vh;
    background-image: url("./Images/images.png")  ; 
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

/* /Components/Pages/UsersPage.razor.rz.scp.css */
.user-table thead[b-1jwf5guq0w] {
    background-color: black !important;
    color: white !important;
}

.user-table thead th[b-1jwf5guq0w] {
    background-color: black !important;
    color: white !important;
}

.user-table-button .filter-input[b-1jwf5guq0w] {
    max-width: 260px;
}

.user-table-button button[b-1jwf5guq0w] {
    min-width: 42px;
}
