.login-page[b-0u05u9dra1] {
    display: flex;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.brand-title[b-0u05u9dra1] {
    position: absolute;
    top: 24px;
    left: 24px;
    margin: 0;
}

.login-form[b-0u05u9dra1] {
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-img[b-0u05u9dra1] {
    width: 50%;
    min-height: 100vh;
    background-image: url("/Images/images.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}