.register-page[b-mjhmuf7525]{
    display:flex;
    width:100%;
    min-height:100vh;
    margin:0;
    padding:0;
}
.brand-title[b-mjhmuf7525] {
    position: absolute;
    top: 24px;
    left: 24px;
    margin: 0;
}

.register-form[b-mjhmuf7525] {
    display: flex;
    position: relative;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.register-img[b-mjhmuf7525]{
    width:50%;
    min-height:100vh;
    background-image: url("/Images/images.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

