.user-table thead[b-1jwf5guq0w] {
    background-color: black !important;
    color: white !important;
}

.user-table thead th[b-1jwf5guq0w] {
    background-color: black !important;
    color: white !important;
}   